*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
  --color-text: #f0f3f8;
  --color-bg: #000;
  --color-link: #f0f3f8;
  --color-link-hover: #b7bed3;
  --page-padding: 3rem 1rem;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Reddit Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 53em) {
  body {
    --page-padding: 2rem 3rem;
  }
}

/* Screen Reader */
.screen-reader-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/* Rail */

.rail {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.rail_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rail_sizing {
  position: relative;
  opacity: 0;
  height: auto;
  width: 420vw;

  @media screen and (min-width: 53em) {
    width: 232vw;
  }
}

.rail_clip {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-clip-path: url("#contentTitle");
  clip-path: url("#contentTitle");
  animation: clip-anim 20s linear infinite;
}

.rail_color {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: #0c0c0e;
  animation: color-anim 20s linear infinite;
}

.rail_heading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rail_gradients {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  width: 100vw;
  height: 100%;
  transform: scale(1.75);

  @media screen and (min-width: 53em) {
    transform: scale(1);
  }
}

.rail_gradient {
  position: absolute;
  width: 52vw;
  height: 52vw;
  min-width: 52vw;
  min-height: 52vw;
}

.rail_gradient.-blue {
  transform: translate(-7vw, calc(-2.3vw + 100vh));
  animation: intro-blue 3s cubic-bezier(0.04, 1.15, 0.4, 0.99) 0.5s forwards;
}

.rail_gradient.-yellow {
  transform: translate(7vw, calc(5vw + 100vh));
  animation: intro-yellow 2.75s cubic-bezier(0.04, 1.15, 0.4, 0.99) 0.75s
    forwards;
}

@keyframes clip-anim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes color-anim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

/* Boxes */

.boxes {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1.75);

  @media screen and (min-width: 53em) {
    transform: scale(1);
  }
}

.box {
  position: absolute;
}

.box_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jersey_gradient {
  position: absolute;
  width: 220%;
  height: 220%;
  opacity: 0.4;
}

.jersey_image {
  position: relative;
  height: auto;
}

.box.-blue {
  transform: translate(-7vw, calc(-2.3vw + 100vh));
  animation: intro-blue 3s cubic-bezier(0.04, 1.15, 0.4, 0.99) 0.5s forwards;
}

.box.-blue .box_container {
  animation: float-blue 4s ease-in-out 0s alternate;
  animation-iteration-count: infinite;
}

.box.-blue .jersey_image {
  width: 36vw;
}

.box.-blue .jersey_gradient {
  transform: translateX(-2vw);
}

.box.-yellow {
  transform: translate(7vw, calc(5vw + 100vh));
  animation: intro-yellow 2.75s cubic-bezier(0.04, 1.15, 0.4, 0.99) 0.75s
    forwards;
}

.box.-yellow .box_container {
  animation: float-yellow 3s ease-in-out 0s alternate;
  animation-iteration-count: infinite;
}

.box.-yellow .jersey_image {
  width: 30vw;
}

.box.-yellow .jersey_gradient {
  transform: translate(2vw, 2vw);
}

@keyframes float-blue {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes float-yellow {
  from {
    transform: translateY(4%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes intro-blue {
  from {
    transform: translate(-7vw, calc(-2.3vw + 100vh));
  }
  to {
    transform: translate(-7vw, -2.3vw);
  }
}
@keyframes intro-yellow {
  from {
    transform: translate(7vw, calc(5vw + 100vh));
  }
  to {
    transform: translate(7vw, 5vw);
  }
}
